In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("C://Users//SONAL//Downloads//Telco_Customer_Churn_Dataset.csv")

In [3]:
#check the head of the data
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [5]:
df.drop('customerID',axis=1, inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   object
 19  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.1+ MB

In [7]:
#prepare the dataset by replacing the churn column with 0 and 1
df['Churn'].replace({'Yes':1,'No':0},inplace=True)

In [8]:
#change the column to numeric
df["TotalCharges"] = pd.to_numeric(df["TotalCharges"],errors='coerce')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7032 non-null   float64
 19  Churn             7043 non-null   int64
dtypes: float64(2), int64(3), object(15)
memory usage: 1.1+ MB

In [10]:
#check the to see if there are any nulls or nan
df.isnull().any().sum()

1

In [11]:
df.dropna(axis=0,inplace=True)

In [12]:
df[['tenure','MonthlyCharges']].describe()

            tenure  MonthlyCharges
count  7032.000000     7032.000000
mean     32.421786       64.798208
std      24.545260       30.085974
min       1.000000       18.250000
25%       9.000000       35.587500
50%      29.000000       70.350000
75%      55.000000       89.862500
max      72.000000      118.750000

In [13]:
df.corr()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Churn
SeniorCitizen,1.000000,0.015683,0.219874,0.102411,0.150541
tenure,0.015683,1.000000,0.246862,0.825880,-0.354049
MonthlyCharges,0.219874,0.246862,1.000000,0.651065,0.192858
TotalCharges,0.102411,0.825880,0.651065,1.000000,-0.199484
Churn,0.150541,-0.354049,0.192858,-0.199484,1.000000

In [14]:
df = pd.get_dummies(df)

In [15]:
df.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,1,29.85,29.85,0,1,0,0,1,1,...,0,1,0,0,0,1,0,0,1,0
1,0,34,56.95,1889.50,0,0,1,1,0,1,...,0,0,1,0,1,0,0,0,0,1
2,0,2,53.85,108.15,1,0,1,1,0,1,...,0,1,0,0,0,1,0,0,0,1
3,0,45,42.30,1840.75,0,0,1,1,0,1,...,0,0,1,0,1,0,1,0,0,0
4,0,2,70.70,151.65,1,1,0,1,0,1,...,0,1,0,0,0,1,0,0,1,0

In [16]:
df.dtypes

SeniorCitizen                                int64
tenure                                       int64
MonthlyCharges                             float64
TotalCharges                               float64
Churn                                        int64
gender_Female                                uint8
gender_Male                                  uint8
Partner_No                                   uint8
Partner_Yes                                  uint8
Dependents_No                                uint8
Dependents_Yes                               uint8
PhoneService_No                              uint8
PhoneService_Yes                             uint8
MultipleLines_No                             uint8
MultipleLines_No phone service               uint8
MultipleLines_Yes                            uint8
InternetService_DSL                          uint8
InternetService_Fiber optic                  uint8
InternetService_No                           uint8
OnlineSecurity_No                            uint8
OnlineSecurity_No internet service           uint8
OnlineSecurity_Yes                           uint8
OnlineBackup_No                              uint8
OnlineBackup_No internet service             uint8
OnlineBackup_Yes                             uint8
DeviceProtection_No                          uint8
DeviceProtection_No internet service         uint8
DeviceProtection_Yes                         uint8
TechSupport_No                               uint8
TechSupport_No internet service              uint8
TechSupport_Yes                              uint8
StreamingTV_No                               uint8
StreamingTV_No internet service              uint8
StreamingTV_Yes                              uint8
StreamingMovies_No                           uint8
StreamingMovies_No internet service          uint8
StreamingMovies_Yes                          uint8
Contract_Month-to-month                      uint8
Contract_One year                            uint8
Contract_Two year                            uint8
PaperlessBilling_No                          uint8
PaperlessBilling_Yes                         uint8
PaymentMethod_Bank transfer (automatic)      uint8
PaymentMethod_Credit card (automatic)        uint8
PaymentMethod_Electronic check               uint8
PaymentMethod_Mailed check                   uint8
dtype: object

In [17]:
X=df.drop('Churn', axis=1)
y = df['Churn']

In [18]:
!pip install xgboost
from xgboost import XGBClassifier

Requirement already satisfied: xgboost in c:\users\sonal\anaconda3\lib\site-packages (2.1.3)
Requirement already satisfied: numpy in c:\users\sonal\anaconda3\lib\site-packages (from xgboost) (1.22.4)
Requirement already satisfied: scipy in c:\users\sonal\anaconda3\lib\site-packages (from xgboost) (1.7.3)

In [19]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import  train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [20]:
X_train,X_test,y_train,y_test  = train_test_split(X,y)

In [21]:
model_eval = pd.DataFrame(index=['Random Forest'],columns=['Score'])

In [22]:
rf  =  RandomForestClassifier()
rf.fit(X_train,y_train)
ypred = rf.predict(X_test)

In [23]:
log = LogisticRegression()
log.fit(X_train,y_train)
y_pred2 = log.predict(X_test)

In [24]:
xg =  XGBClassifier()
xg.fit(X_train,y_train)
y_pred3 =  xg.predict(X_test)

In [25]:
X=df.drop('Churn', axis=1)
y = df['Churn']

In [26]:
model_eval.loc['Random Forest','Score'] = accuracy_score(ypred,y_test)
model_eval.loc['Logisitic','Score'] = accuracy_score(y_pred2,y_test)
model_eval.loc['XGBoost','Score'] = accuracy_score(y_pred3,y_test)

In [27]:
model_eval

                  Score
Random Forest  0.795791
Logisitic      0.804323
XGBoost        0.782139

In [28]:
import joblib
joblib.dump(log,"model")

['model']

In [29]:
rf.feature_importances_

array([0.01944726, 0.13696695, 0.13604515, 0.16524825, 0.01769614,
       0.01813584, 0.01418308, 0.01461065, 0.01171908, 0.01225827,
       0.00323711, 0.00344635, 0.01302843, 0.00322082, 0.01294777,
       0.0134652 , 0.02377531, 0.00172052, 0.03241977, 0.00494036,
       0.01104692, 0.01450739, 0.00298832, 0.01301024, 0.01432417,
       0.00419188, 0.01155048, 0.02116482, 0.00196967, 0.01445988,
       0.01117498, 0.00213817, 0.01143034, 0.01146091, 0.00217974,
       0.01173217, 0.0556183 , 0.01155371, 0.01629517, 0.01592276,
       0.01589849, 0.01254006, 0.01292927, 0.02997505, 0.01142482])

In [30]:
weights = pd.DataFrame(rf.feature_importances_,index=X.columns.values)

In [31]:
weights

                                                0
SeniorCitizen                            0.019447
tenure                                   0.136967
MonthlyCharges                           0.136045
TotalCharges                             0.165248
gender_Female                            0.017696
gender_Male                              0.018136
Partner_No                               0.014183
Partner_Yes                              0.014611
Dependents_No                            0.011719
Dependents_Yes                           0.012258
PhoneService_No                          0.003237
PhoneService_Yes                         0.003446
MultipleLines_No                         0.013028
MultipleLines_No phone service           0.003221
MultipleLines_Yes                        0.012948
InternetService_DSL                      0.013465
InternetService_Fiber optic              0.023775
InternetService_No                       0.001721
OnlineSecurity_No                        0.032420
OnlineSecurity_No internet service       0.004940
OnlineSecurity_Yes                       0.011047
OnlineBackup_No                          0.014507
OnlineBackup_No internet service         0.002988
OnlineBackup_Yes                         0.013010
DeviceProtection_No                      0.014324
DeviceProtection_No internet service     0.004192
DeviceProtection_Yes                     0.011550
TechSupport_No                           0.021165
TechSupport_No internet service          0.001970
TechSupport_Yes                          0.014460
StreamingTV_No                           0.011175
StreamingTV_No internet service          0.002138
StreamingTV_Yes                          0.011430
StreamingMovies_No                       0.011461
StreamingMovies_No internet service      0.002180
StreamingMovies_Yes                      0.011732
Contract_Month-to-month                  0.055618
Contract_One year                        0.011554
Contract_Two year                        0.016295
PaperlessBilling_No                      0.015923
PaperlessBilling_Yes                     0.015898
PaymentMethod_Bank transfer (automatic)  0.012540
PaymentMethod_Credit card (automatic)    0.012929
PaymentMethod_Electronic check           0.029975
PaymentMethod_Mailed check               0.011425